
#copyright {
  height: 40px;
  color: #444;
  margin-left: 50px;
  padding-top: 20px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.page-footer {
  background-color: white;
}

#signature {
  float: right;
  width: 175px;
  height: 45px;
  margin-right: 5%;
  margin-top: 5px;
}

#footer-copyright {
  background-color: white;
  width: 100%;
  background-image: none;
  background-repeat: repeat;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;

}

h4 {
  color: #444;
}