.gitHubName {
  margin-top: 25px; 
  font-size: 20px;
  text-align: left;
}

.gitHubLink {
  font-size: 16px;
}

.gitHubPhoto {
  width: 200px;
  height: 200px;
}

.gitItems {
  margin-left: 25px;
  margin-bottom: 10px;
  display: block;
}

.userName {
  max-width: 300px;
  clear: right;
  color: black;
}

.form {
  max-width: 20%;
  padding-left: 25px;
}