ul {
  display: inline-block;
  width: 100%;
  text-align: center;
}

li {
  max-width: 250px;
  margin-left: 5%;
  margin-right: 5%; 
	position: relative;
	color: #444;
	display: inline-block;
}

.brand-logo {
	margin-right: 10%;
  width: 200px;
}

#logo-container {
  font-size: 30px;
  height: 64px;
}

#hidden {
  display: none;
}

#resume {
	max-width: 90px;
  
}

nav a,
nav .brand-logo {
  color: #444;
  position: relative;
}

.white {
  border-radius: 5px;
}

.toprow span {
  color: #444;
  font-size: 20px;
}

li :hover {
  color: #854;
  height: 64px;
  transition: 1s;
  text-decoration: none;
}

#contact :hover {
  color: #854;
  height: 64px;
  -webkit-transform: scale(1.07);
	transform: scale(1.07);
  transition: 1s;
  text-decoration: none;

}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.snapshots {
  display: center;
}

.button {
  color: #444;
}

@media only screen and (max-width : 1040px) {
  .parallax-container .section {
    width: 100%;
    position: relative;
    top: 40%;
  }
  .toprow {
    position: center;
    font-size: 15px;
    width: 100%;
  }
  
  #index-banner .section {
    top: 10%;
  }
  
  #logo-container {
  font-size: 25px;
  }

  li {
    margin-right: auto;
  }
}

@media only screen and (max-width : 920px) {

  nav a,
  nav .brand-logo {
    color: #444;
    position: relative;
  }
  .button-collapse {
    color: #444;
  }

  #index-banner .section {
    top: 0;
  }

  .toprow {
    position: relative;
    width: 100%;
  }

  .toprow span {
    font-size: 18px;
  }

  #logo-container {
    font-size: 25px;
  }

}

@media only screen and (max-width : 786px) {

  nav a,
  nav .brand-logo {
    color: #444;
    position: relative;
  }
  .button-collapse {
    color: #444;
  }

  #index-banner .section {
    top: 0;
  }

  .toprow {
    position: relative;
    width: 100%;
    font-size: 20px;
  }

  li, a :hover {
    transition: .3s;
    
  }
 
  .toprow span {
    font-size: 14px;
  }

  .toprow :hover {
    text-decoration: none;
  }

  #logo-container {
    font-size: 20px;
  }

  .popupItems {
    height: 200px;
  }

  .popupItem {
    height: 50px;
  }

  p {
    height: 50px;

  }

@media only screen and (max-width : 710px) {
  #recentprojects {
    display: none;
  }

  #resume {
    display: none;
  }

  #github {
    display: none;
  }  
}

}

