@media only screen and (max-width : 710px) {

    /*entire sandwich div including popups*/
    #menu {
        margin-top: 15px;
        width: 150px;
        height: 400px;
        float: right;
    
    }

    /*sandwich lines*/
    .sandwich {
        display: block;
        width: 25px;
        height: 2px;
        background-color: black;
        margin: 6px 0;  
        
    }

    .popupItem {
        display: inline-block;
        width: 100%;
        height: 20px;
    }

    /*Conditional Styling for the popup*/
    #hidden {
        display: none;
    
    }

    #block {
        background-color: #ddd;
        width: 140px;
        height: 160px;
        display: block;
        opacity: .7;
       
    }

    a {
        font-size: 12px;
        height: 50px;
    }

    /*text for project and resume links*/
    p {
        color: black;
        margin: 10px 0;
        display: block;
        text-align: left;
        height: 15px;
        font-size: 12px;
    }

}