@media only screen and (max-width : 710px) {

    /*sandwich lines*/
    .sandwich {
        display: block;
        width: 25px;
        height: 2px;
        background-color: black;
        margin: 6px 0;  
    }
    
    /*entire sandwich div*/
    #menu {
       
        margin-top: 20px;
        width: 200px;
        height: 200px;
        float: right;
    }

    /*project and resume links*/
    p {
        color: black;
        margin: 0;
        padding: 0;
        display: block;
        text-align: left;
        height: 25px;
        
    }

    #hidden {
        background-color: brown;
        display: none;
        width: 140px;
        height: 100px;
        margin-top: 0px;
    }

    /*#menu:hover > #hidden {
        display: block;

    }*/
    

    .sandwichItems {
        padding: 5px;
    }

    .sandwichResume {
        margin: 0;

    }

}