* {
  font-family: Montserrat;
}



body {
  background: #eee;
}

img {
  width: 100%;
  margin-top: 60px;
}

ul {
  display: inline-block;
  width: 100%;
  text-align: center;
}

li {
  max-width: 300px;
  margin-left: 5%;
  margin-right: 5%; 
	position: relative;
	color: #444;
	display: inline-block;
}

.brand-logo {
	margin-right: 10%;
  width: 200px;
}

#logo-container {
  font-size: 30px;
  height: 64px;
}

#resume {
	max-width: 90px;
}

nav a,
nav .brand-logo {
  color: #444;
  position: relative;
}

.white {
  border-radius: 5px;
}

.toprow {
  position: center;
}

.toprow span {
  color: #444;
  
  font-size: 20px;
}

.toprow :hover {
  color: #854;
  height: 64px;
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
  transition: 1s;
  text-decoration: none;

}

#contact :hover {
  color: #854;
  height: 64px;
  -webkit-transform: scale(1.07);
	transform: scale(1.07);
  transition: 1s;
  text-decoration: none;

}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}


.button {
  color: #444;
}

@media only screen and (max-width : 993px) {
  .parallax-container .section {
    width: 100%;
    position: relative;
    top: 40%;
  }
  .toprow {
    position: center;
    font-size: 15px;
    width: 90%;
  }
  
  #index-banner .section {
    top: 10%;
  }
  
  #logo-container {
  font-size: 25px;
  }
}

@media only screen and (max-width : 920px) {

  nav a,
  nav .brand-logo {
    color: #444;
    position: relative;
  }
  .button-collapse {
    color: #444;
  }

  #index-banner .section {
    top: 0;
  }

  .toprow {
    position: relative;
    width: 100%;
  }

  li {
    margin-left: 5px;
  }

  .toprow span {
    font-size: 18px;
  }

  #logo-container {
    font-size: 25px;
  }

}

.snapshots {
  display: center;
}

@media only screen and (max-width : 710px) {

  nav a,
  nav .brand-logo {
    color: #444;
    position: relative;
  }
  .button-collapse {
    color: #444;
  }

  #index-banner .section {
    top: 0;
  }

  nav {
    margin: 0;
  }

  a {
    margin: 0;
  }

  .toprow {
    position: relative;
    width: 100%;
  }

  #recentprojects {
    margin-left: 0;
  }

  .toprow span {
    font-size: 14px;
  }

  #logo-container {
    font-size: 20px;
  }

}

.snapshots {
  display: center;
}